* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica", "Arial", sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  background-color: whitesmoke;

  --max-width: 900px;
  --primary-color: #d5a;
  --complementary-color: royalblue;
  --primary-link-color: #1d70b8;
  --highlight-color: gold;
}

.skip-link:link,
.skip-link:visited,
.skip-link:hover,
.govuk-skip-link:active,
.govuk-skip-link:focus {
  color: black;
}

.skip-link:link {
  display: block;
  padding: 1rem;
  position: absolute;
  top: -10rem;
}

.skip-link:focus {
  outline: none;
  background-color: #fd0;
  position: static;
}

.brand {
  background-color: #111;
  color: white;
  padding: 1rem;
  border-bottom: 0.6rem solid var(--primary-color);
  font-size: 1.2rem;
}

.brand div {
  margin: auto;
  max-width: var(--max-width);
}

.brand div > a {
  color: white;
  text-decoration: none;
}

.brand div > a span {
  background-color: var(--complementary-color);
  display: inline-block;
  padding: 0.2rem;
  font-variant: all-small-caps;
  font-size: 1rem;
  margin-left: 0.2rem;
  vertical-align: middle;
}

.banner {
  background-color: black;
  color: white;
  padding: 0 1rem;
}

.banner p {
  margin: 0 auto;
  padding: 0.8rem 0;
  max-width: var(--max-width);
}

.banner a {
  color: lightblue;
}

header > nav {
  background-color: whitesmoke;

  ul {
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0.4rem 0;
    display: grid;
    grid-gap: 0.2rem;
    grid-auto-flow: column;
  }

  li {
    display: block;
    margin: 0;
  }

  li a {
    display: block;
    color: var(--primary-link-color);
    border-bottom: 3px solid transparent;
    padding: 0.6rem 0;
    text-decoration: none;
    font-size: 1.2rem;
    text-align: center;
  }

  li a:hover {
    color: mediumblue;
    background-color: white;
  }

  li a:focus {
    color: black;
    background-color: var(--highlight-color);
    outline: none;
    border-bottom: 3px solid black;
  }

  li.active {
    border-bottom: 2px solid black;
  }
}

.wrapper {
  max-width: var(--max-width);
  margin: auto;
  padding: 0 1rem;
}

main {
  background-color: white;
  padding-top: 0.6rem;
  padding-bottom: 4rem;
}

.card {
  border-collapse: collapse;
  width: 100%;
  margin: 2.4rem 0;
  width: 100%;
}

.card caption {
  text-align: left;
  padding-bottom: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
}

.card tr:first-child > * {
  border-top: 1px solid lightgrey;
}

.card th {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  width: 10rem;
  padding: 0.6rem 0;
  font-weight: 700;
}

.card td {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding: 0.6rem;
}

.status-endorsed {
  background-color: #8D5;
  color: black;
  display: inline-block;
  padding: 0.2rem;
}

.status-published {
  background-color: #8D5;
  color: black;
  display: inline-block;
  padding: 0.2rem;
}

.table-list {
  border-collapse: collapse;
  width: 100%;
  margin: 2.4rem 0;
}

.table-list th {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding: 0.6rem;
  font-weight: 700;
}

.table-list td {
  text-align: left;
  border-bottom: 1px solid lightgrey;
  padding: 0.6rem;
}

.official-publication a {
  color: black;
  background-color: var(--highlight-color);
  border: 2px solid goldenrod;
  display: inline-block;
  padding: 0.6rem;
}

.note {
  border-left: 8px solid skyblue;
  border-right: 8px solid skyblue;
  padding: 0 0.8rem;
  margin: 3rem 0;
  font-size: 1.1rem;
  line-height: 1.2;
}

a.action {
  display: inline-block;
  background-color: green;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.8rem;
  margin: 0.8rem 0;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

a.action:hover, a.action:focus {
  background-color: var(--highlight-color);
  color: black;
}

footer {
  border-top: 1px solid #ededed;
  padding-top: 0.4rem;

  nav {
    display: grid;
    grid-gap: 0.2rem;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: minmax(auto, 1fr);
    padding: 1rem;

    ul {
      margin: 0;
      padding: 0;
    }
  }

  p {
    margin: 0;
    padding: 1rem 0;
  }

  svg {
    display: block;
    margin-bottom: 0.6rem;
  }
}
