{% extends "base.html" %}
{% import "macros.html" as macros %}
{% block title %}{{ page.title }} - {% endblock title %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

{{ macros::feedback_link(title=page.title) }}

<table class="card">
  <caption>Summary</caption>
  <tr scope="row">
    <th>Identifier</th>
    <td>{{ page.extra.identifier }}</td>
  </tr>
  <tr scope="row">
    <th>Maintainer</th>
    <td><a href="{{ page.extra.maintainer.url }}">{{ page.extra.maintainer.name }}</a></td>
  </tr>
  <tr scope="row">
    <th>Creation date</th>
    <td>{{ page.extra.creation_date }}</td>
  </tr>
  <tr scope="row">
    <th>Update date</th>
    <td>{{ page.extra.update_date }}</td>
  </tr>
  {% if 'publication_date' in page.extra %}
  <tr scope="row">
    <th>Publication date</th>
    <td>{{ page.extra.publication_date }}</td>
  </tr>
  {% endif %}
  {% if 'canonical_url' in page.extra %}
  <tr scope="row">
    <th>Official publication</th>
    <td class="official-publication"><a href="{{ page.extra.canonical_url }}">{{ page.extra.canonical_url }}</a></td>
  </tr>
  {% endif %}
</table>

{% if 'canonical_url' in page.extra %}
<div class="note">
  This guidance has an official version published in GOV.UK. The differences you might find in here are in draft for the
  next version and are subject to change. Please help us improve it by providing feedback.
</div>
{% endif %}


{{ page.content | safe }}


{% endblock content %}
