{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}
<h1>
  {{ page.title }}
</h1>

{{ macros::feedback_link(title=page.title) }}


{{ page.content | safe }}

<table class="card">
  <caption>Summary</caption>
  <tr scope="row">
    <th>Identifier</th>
    <td>{{ page.extra.identifier }}</td>
  </tr>
  <tr scope="row">
    <th>Name</th>
    <td>{{ page.extra.name }} {% if 'acronym' in page.extra %}({{ page.extra.acronym }}){% endif %}</td>
  </tr>
  <tr scope="row">
    <th>Maintainer</th>
    <td><a href="{{ page.extra.maintainer.url }}">{{ page.extra.maintainer.name }}</a></td>
  </tr>
  <tr scope="row">
    <th>Specification</th>
    <td><a href="{{ page.extra.specification }}">{{ page.extra.specification }}</a></td>
  </tr>
  {% if 'licence' in page.extra %}
  <tr scope="row">
    <th>Licence</th>
    <td><a href="{{ page.extra.licence.url }}">{{ page.extra.licence.name }}</a></td>
  </tr>
  {% endif %}
</table>

{% if 'endorsement_state' in page.extra %}
{% set state = page.extra.endorsement_state %}
<table class="card">
  <caption>Endorsement state</caption>
  <tr scope="row">
    <th>Status</th>
    <td><span class="status-{{ state.status }}">{{ state.status }}</span></td>
  </tr>
  <tr scope="row">
    <th>Start date</th>
    <td>{{ state.start_date }}</td>
  </tr>
  <tr scope="row">
    <th>Review date</th>
    <td>{{ state.review_date }}</td>
  </tr>
  {% if 'publication_date' in state %}
  <tr scope="row">
    <th>Endorsement date</th>
    <td>{{ challenge.publication_date }}</td>
  </tr>
  {% endif %}
</table>
{% endif %}

{% if page.extra.related | length > 0 %}
  <h2>Related standards</h2>
  <ul>
  {% for item in page.extra.related %}
  <li><a href="../{{ item.id }}">{{ item.name }}</a></li>
  {% endfor%}
  </ul>
{% endif %}

{% endblock content %}
